.badge {
  align-items: center;
  background: var(--rs-color-success-badge);
  border-radius: 50%;
  color: var(--rs-color-foreground-positive);
  display: inline-flex;
  flex: 0 0 auto;
  height: var(--rs-unit-success-badge-size);
  justify-content: center;
  width: var(--rs-unit-success-badge-size);
}

.badge svg {
  display: block;
  height: 12px;
  width: 14px;
}
