.progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x2);
}

.segments {
  display: flex;
  gap: var(--rs-unit-x2);
}

.complete,
.incomplete {
  border-radius: var(--rs-radius-small);
  height: var(--rs-unit-progress-size);
  width: var(--rs-unit-x8);
}

.complete {
  background: var(--rs-color-foreground-neutral);
}

.incomplete {
  background: var(--rs-color-progress-incomplete);
}

.label {
  color: var(--rs-color-foreground-neutral-faded);
  font-family: var(--rs-font-family-body);
  font-size: var(--rs-font-size-featured-6);
  font-weight: var(--rs-font-weight-regular);
  line-height: var(--rs-line-height-featured-6);
}
