.content,
.applications {
  display: flex;
  flex-direction: column;
}

.content {
  gap: var(--rs-unit-x12);
}

.applications {
  gap: var(--rs-unit-x6);
}

.clipboardError {
  margin: 0;
}

.loadingState {
  display: block;
  width: 100%;
}

.clipboardError {
  color: var(--rs-color-foreground-critical);
}

.cardGrid {
  display: grid;
  column-gap: var(--rs-unit-x4);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: var(--rs-unit-x6);
  width: 100%;
}

@media (--rs-viewport-s) {
  .cardGrid {
    grid-template-columns: minmax(0, 1fr);
  }

  .loadingState .cardGrid > :nth-child(2) {
    display: none;
  }
}

@media (max-width: 479px) {
  .content {
    gap: var(--rs-unit-x8);
  }

  .applications {
    gap: var(--rs-unit-x5);
  }
}
